{% extends 'evaluations/base.html' %}

{% block title %}Lista de Cursos{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="mt-4">Lista de Cursos</h1>
      <ul class="list-group">
        {% for course in courses %}
          <li class="list-group-item">
            <a href="{% url 'course_detail' course.pk %}" class="text-decoration-none">{{ course.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
