{% extends 'evaluations/base.html' %}

{% block title %}Detalle del Curso{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="mt-4">{{ course.name }}</h1>
      <p class="lead">{{ course.description }}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2 class="mt-4">Evaluaciones</h2>
      <ul class="list-group">
        {% for evaluation in evaluations %}
          <li class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{ evaluation.name }}</h5>
              <small>{{ evaluation.date }}</small>
            </div>
            <p class="mb-1">Periodo: {{ evaluation.period }}</p>
            <p class="mb-1">Puntuación Máxima: {{ evaluation.max_score }}</p>
            <p class="mb-1">Valor por Pregunta: {{ evaluation.value_per_question }}</p>
            <div>
<a href="{% url 'take_evaluation' evaluation.pk %}" class="btn btn-success btn-sm">Tomar</a>
<a href="{% url 'evaluation_result' evaluation.pk %}" class="btn btn-primary btn-sm">Resultado</a>
<a href="{% url 'view_answers' %}" class="btn btn-secondary btn-sm">Retroalimentación</a>
            </div>
          </li>
        {% empty %}
          <li class="list-group-item">No hay evaluaciones disponibles para este curso.</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
