{% extends 'evaluations/base.html' %}
{% load custom_filters feedback_markdown %}

{% block title %}Ver respuestas{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Tus Respuestas, {{ student }}</h1>
    <div class="row">
        {% for answer in user_answers %}
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-header">
                        <strong>Evaluación:</strong> {{ answer.evaluation.name }}
                    </div>
                    <div class="card-body">
                        <p class="mb-2"><strong>Respuestas guardadas:</strong></p>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Opción Seleccionada</th>
                                        <th>Correcta</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for question, selected_option in answer.evaluation.questions.all|zip_lists:answer.selected_options %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ selected_option }}</td>
                                            <td>
                                                {% if question.correct_answer == selected_option %}
                                                    &#10004;
                                                {% else %}
                                                    &#10060;
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        <p class="mb-2"><strong>Puntaje:</strong> {{ answer.score }} | <strong>Intentos restantes:</strong> {{ answer.attempts }}</p>
                        <!-- Feedback Section -->
			            <div class="feedback">
			            {% if answer.feedback %}
            			<div class="alert alert-info" role="alert">
                		    <strong>Retroalimentación:</strong>
                    		    {{ answer.feedback|feedback_markdown }}
            			</div>
        		{% endif %}
			</div>
                    </div>
                    <div class="card-footer text-muted">
                        <strong>Fecha:</strong> {{ answer.submission_date }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}