Django>=5.0,<=5.1.4
psycopg2
psycopg2-binary
django-environ
django_extensions
Pillow
pyOpenSSL
markdown2
markdown-katex
#markdown-math
#django-silk
lxml # for parser QTI in utils.py
#channels
whitenoise
#django-debug-toolbar
#openai
#langchain
#Werkzeug
#aiohttp
#gunicorn
#gevent
#asgiref
django-redis
daphne
django-cors-headers
djangorestframework
anthropic
celery
requests
google-genai
django-select2
qrcode
