Django>=3.2,<4.0
django-environ
django_extensions
Pillow
pyOpenSSL
markdown2
markdown-katex
#markdown-math
django-silk
lxml # for parser QTI in utils.py
channels
whitenoise
django-debug-toolbar
openai
langchain
#Werkzeug
#aiohttp
#gunicorn
#gevent
asgiref
django-redis