{% extends 'evaluations/base.html' %}

{% load static %}
   
{% block title %}Profile{% endblock %}


{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        <h2>Profile</h2>
                    </div>
                    <div class="card-body">
                        <p class="lead">Welcome, {{ user.username }}!</p>
                        <hr>
                        <p><strong>Full Name:</strong> {{ user.get_full_name }}</p>
                        <p><strong>Email:</strong> {{ user.email }}</p>
                        <a href="{% url 'edit_profile' %}" class="btn btn-secondary">Edit Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %} 