{% extends "admin/base.html" %}

{% block bodyclass %}{{ block.super }} app-{{ request.resolver_match.app_name }} model-{{ request.resolver_match.model_name }}{% endblock %}

{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">EduNinja Admin</a></h1>
    <div style="margin: 10px 0; font-size: 14px; color: #fff;">
        <strong>IP del servidor:</strong> 
        <span style="border: 2px solid #ffcc00; padding: 3px 6px; border-radius: 4px; font-weight: bold;">
            {{ host_ip }}
        </span>
    </div>
{% endblock %}

{% block nav-global %}{% endblock %}
